@page "/RegistroIn"
@using PrimerParcialAplic2.Models
@using PrimerParcialAplic2.Controllers



<h3>RegistroIn</h3>

@code {
    public Inscripciones inscripciones = new Inscripciones();
    public string Mensaje;


    public void Guardar()
    {
        InscripcionControllers inscripcionControllers = new InscripcionControllers();

        if

    }



}
